<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.vov.vitamio.demo"
    android:versionCode="002"
    android:versionName="1.1.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <!--<uses-permission android:name="android.permission.RESTART_PACKAGES"/>-->


    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/vitamio_demo_name" >

        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".VitamioListActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MediaPlayerDemo"
            android:label="远程视频流传输测试"

            android:configChanges="orientation|keyboardHidden" >

        </activity>

        <activity
            android:name=".VideoViewBuffer"
            android:label="@string/title_activity_video_buffer"
            android:launchMode="singleTask" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden" >

        </activity>
        <activity
            android:name=".VideoViewBufferPassive"
            android:label="视频播放"
            android:launchMode="singleTask" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden" >

        </activity>
        <activity
            android:name=".MediaStreamInitiative"
            android:label="视频传输"
            android:launchMode="singleTask" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden" >

        </activity>
        <activity
            android:name=".CameraDemo"
            android:label="视频传输"
            android:launchMode="singleTask" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden" >

        </activity>

        <activity
            android:name=".GetIPDemo"
            android:label="视频传输"
            android:launchMode="singleTask" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden" >

        </activity>
        <activity
            android:name=".CameraShow"
            android:label="视频显示"
            android:launchMode="singleTask" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden" >

        </activity>
    </application>

</manifest>